.param-chart-grid {
    width: 80%;
}

.param-chart-wrapper {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 2.5rem 1.5rem;
    min-width: 0;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    border: 1px solid transparent;
}

.param-chart-wrapper:hover {
    box-shadow: 0px 8px 20px rgba(15, 39, 64, 0.25), 0px 0px 0px 1px rgba(15, 39, 64, 0.15);
    border-color: rgba(15, 39, 64, 0.2);
}

.chart-canvas {
    width: 100%;
    height: 260px;
    position: relative;
}

.chart-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.minmax {
    font-weight: 400;
    font-size: 0.9rem;
    color: #666;
}


@media (max-width: 768px) {
  .chart-canvas {
    height: 220px;
  }

  .param-chart-wrapper {
    padding: 12px;
  }

  .chart-title {
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;
  }

  .chart-title .minmax {
    margin-top: 4px;
    font-size: 12px;
  }
  .param-chart-grid {
    width: 95%;
}
}